[Unit]
Description=harmony service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ USER.user }}
Group={{ USER.user }}
WorkingDirectory={{ USER.home }}
ExecStart=/usr/sbin/harmony -c {{ USER.home }}/harmony.conf
StandardError=syslog
{% if node_type_var == "Explorer" %}
SyslogIdentifier=harmony-explorer-node
{% else %}
SyslogIdentifier=harmony
{% endif %}
StartLimitInterval=0
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
